<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/css/pricing.css" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">레이서 도서관</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">대여기록</a>
        <a class="p-2 text-dark" href="#">반납하기</a>
        <a class="p-2 text-dark" href="/logout">로그아웃</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      {{ session['log_in'] }}
      <p></p>
      username : {{ session['username'] }}
      <p></p>
      
    </div>
    
    <div class="container">
      <div class="card-deck mb-3 text-center">
        {% for book in books_info %}
        <div class="card mb-4 box-shadow">
          <div class="card-header" >
            <img src="{{ url_for('static', filename='img/book_img/'+loop.index|string+'.png') }}"> </img>
          </div>
          <div class="card-body">
            <h6 class="card-title pricing-card-title"><a lass="p-2 text-dark" href="/book-info/{{book.id}}">{{book.book_name}}</a></h6>
            <ul class="list-unstyled mt-3 mb-4">
              <li>평점</li>
              <li>{{book.stock}}권 남음</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">대여하기</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/js/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/assets/js/vendor/popper.min.js"></script>
    <script src="../static/js/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
